@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root{
    --primary-white: #fff;
    --ice-blue: #ABD1F3;
    --primary-dark: rgba(255,255,255,0)
}

.container {
    padding-top: 100px; /* Adjust as needed */
}

.content {
    margin-top: 20px; /* Adjust as needed */
}



.title{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}